.App {
    text-align: center;
}

@font-face {
    font-family: 'cbnu_bold';
    src: url('fonts/cbnu_font_bold.ttf') format('truetype');
}

@font-face {
    font-family: 'cbnu_regular';
    src: url('fonts/cbnu_font_regular.ttf') format('truetype');
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f4f8;
}

.chat-header {
    font-family: 'cbnu_bold', sans-serif;
    display: flex;
    background-color: #BC1D55;
    align-items: center;
    color: white;
    padding: 4px;
    text-align: center;
    font-size: 9px;
}

.header-logo {
    width: 45px;
    height: auto;
    margin-left: 60px;
    padding: 2px;
}

.chat-header h1 {
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 1px;
}

.chat-container {
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    overflow: hidden;
}

.chat-window {
    height: 400px;
    padding: 10px;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
    background-color: #2D2F66;
}

.message {
    margin: 23px 0;
    display: flex;
    justify-content: flex-end;
    word-break: break-word;
}

.user-message {
    font-size: 14px;
    background-color: #F7F9FE;
    color: black;
    padding: 8px 11px;
    border-radius: 10px;
    max-width: 80%;
    border: 2px solid #E5E6EA;
    position: relative;
}

.user-message::after {
    content: "";
    position: absolute;
    top: calc(100% - 15px);
    left: calc(100% - 35px);
    margin-left: -3.5px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent #F7F9FE transparent transparent ;
}

.bot-message {
    text-align: left;
    color: #333;
}

.input-area {
    display: flex; /* 플렉스 박스를 사용하여 요소 정렬 */
    align-items: center; /* 모든 요소를 같은 높이로 맞춤 */
    background-color: #ffffff; /* 하단 바의 배경 색상 */
    padding: 10px; /* 안쪽 여백 */
}

.file-input-label {
    color: #95979E;
    cursor: pointer;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border: 1px solid #E5E6EA;
    border-radius: 10px;
    background-color: #F7F9FE;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
}

.file-input-label:hover {
    background-color: #cccccc;
}

.chat-input {
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 10px;
    margin-right: 10px;
    background-color: #D8DFF0;
    width: 240px;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 5px;
    box-sizing: border-box;
    line-height: 15px;
}

.chat-input::-webkit-scrollbar {
    width: 0; /* 스크롤바의 너비를 0으로 설정 */
    height: 0;
    background: transparent; /* 배경을 투명하게 설정 */
}

.send-btn {
    width: 35px;
    height: 35px;
    background-color: #2D2F66;
    color: white;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
}

.send-btn:hover {
    background-color: #0d0f46;
}

input[type="text"] {
    flex-grow: 1;
    border: none;
    padding: 10px;
    outline: none;
}

button {
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #0056b3;
}
